* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  width: 100vw;
  height: 100vh;
  background: hsl(30, 38%, 92%);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container {
  width: 800px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
}
.product_img_desktop {
  width: 400px;
}
.product_img_mobile {
  display: none;
}
.text {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product_type {
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 5px;
}
.heading {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 2.4em;
}
.paragraph {
  color: hsl(228, 12%, 48%);
  line-height: 170%;
  font-size: 1.1em;
}
.price {
  display: flex;
  align-items: center;
}
.new_price {
  color: hsl(158, 36%, 37%);
  font-size: 2.3em;
  font-family: "Fraunces", serif;
  margin-right: 25px;
}
.old_price {
  color: hsl(228, 12%, 48%);
}
.btn {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  background: hsl(158, 36%, 37%);
  cursor: pointer;
  height: 60px;
  border: none;
  font-size: 1.2em;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}
.btn:hover {
  background: hsl(158, 37%, 20%);
}
.button {
  position: relative;
}
.btn_icon {
  position: absolute;
  width: 20px;
  left: 13%;
  top: 30%;
}
@media screen and (max-width: 786px) {
  body {
    overflow-y: scroll;
  }
  .main_container {
    flex-direction: column;
    width: 85%;
    margin-top: 30px;
    height: 1000px;
  }
  .product_img_mobile {
    display: flex;
    width: 100%;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product_img_desktop {
    display: none;
  }
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .paragraph {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .price {
    margin-bottom: 20px;
  }
  .text {
    padding: 20px;
  }
}
